<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main_toolbar">
    <div class="login-link">
      <% if signed_in? %>
      Signed in as: <span="#user_email"><%= current_user.email %></span>
      <span class="login-link"><%= link_to 'Sign out', sign_out_path, :method => :delete %></span>
    <% else %>
      <span class="login-link"><%= link_to 'Sign in', sign_in_path %></span>
    <% end %>
    </div>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/questions/new">new question</a></li>
    </ul>
  </div>
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
